<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro Usuario</title>
</head>
<body>
<h1>Registro de Usuario</h1>
<form th:action="@{/usuarios/nuevo}" th:object="${usuario}" method="post">
    Nombre: <input type="text" th:field="*{nombre}" required/><br/>
    Email: <input type="email" th:field="*{email}" required/><br/>
    Contraseña: <input type="password" th:field="*{password}" required/><br/>
    <button type="submit">Registrar</button>
</form>
<a href="/login">Volver a login</a>
</body>
</html>
