<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Libro</title>
</head>
<body>
<h1 th:text="${libro.idLibro == null ? 'Nuevo Libro' : 'Editar Libro'}"></h1>

<!-- Solo para ADMIN -->
<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <form th:action="@{/libros}" th:object="${libro}" method="post">
        <input type="hidden" th:field="*{idLibro}" />
        Título: <input type="text" th:field="*{titulo}"/><br/>
        Autor: <input type="text" th:field="*{autor}"/><br/>
        Editorial: <input type="text" th:field="*{editorial}"/><br/>
        Año: <input type="number" th:field="*{anioPublicacion}"/><br/>
        Ejemplares: <input type="number" th:field="*{ejemplaresTotales}"/><br/>
        <button type="submit">Guardar</button>
    </form>
</div>

<a href="/libros">Volver a lista</a>
</body>
</html>
