<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Nuevo Préstamo</title>
</head>
<body>
<h1>Nuevo Préstamo</h1>

<div th:if="${#authorization.expression('hasRole(''ADMIN'')')}">
    <form th:action="@{/prestamos}" method="post">
        Usuario:
        <select name="usuarioId">
            <option th:each="u : ${usuarios}" th:value="${u.idUsuario}" th:text="${u.nombre}"></option>
        </select>
        <br/>
        Libro:
        <select name="libroId">
            <option th:each="l : ${libros}" th:value="${l.idLibro}" th:text="${l.titulo}"></option>
        </select>
        <br/>
        <button type="submit">Prestar</button>
    </form>
</div>

<a href="/prestamos">Volver a lista</a>
</body>
</html>
